/**
 * Kenya EMR UI Library styles
 */

/***** General fonts styles *****/

html, body, p, input, button, select, legend, label {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
}

h4 {
	font-size: 16px;
}

h3 {
	font-size: 18px;
}

h2 {
	font-size: 20px;
}

small {
	font-size: 12px;
}

/***** Page layout *****/

html, body {
	margin: 0;
	padding: 0;
}

#content {
	margin: 0;
	padding: 5px;
	position: relative;
}

/***** Forms *****/

.field-label {
	display: block;
	background-color: #eeeeee;
	font-size: 12px;
}

.field-content {
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

#errors, .global-error-container {
	background-color: lightpink;
	font-weight: bold;
}

#errors, .global-error-container {
    margin-top: 3px;
    margin-bottom: 5px;
    border: 1px dashed;
    padding: 2px 2px 2px 18px;
}

span.error, div.error {
	border: 1px dashed darkred;
	padding: 1px 6px 1px 6px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

.error {
	background-color: lightpink;
}

/***** Buttons *****/

.ke-control {
	color: #444;
	background-color: #EEEEEE;
	padding: 5px;
	text-decoration: none;
}

.ke-button {
	cursor: pointer;
	border-radius: 3px;
	font-weight: bold;
	border-top: 0px;
	border-bottom: 1px #BBB solid;
	border-left: 0px;
	border-right: 1px #BBB solid;
	text-align: center;
}

.ke-button:hover {
	background-color: #DDD;
}

.ke-button .ke-icon {
	float: left;
	margin-right: 5px;
}

.ke-label {
	font-weight: bold;
}

.ke-extra {
	font-size: 11px;
	font-weight: normal;
}

.ke-clickable {
	cursor: pointer;
}

.ke-clickable:hover {
	background-color: #FFD;
}

/***** Menus *****/

.ke-menuitem {
	overflow: auto;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
}

.ke-menuitem:hover {
	background-color: #DDD;
}

.ke-menuitem:first-child {
	border-top: none;
}
.ke-menuitem:last-child {
	border-bottom: none;
}

.ke-menuitem .ke-icon {
	float: left;
	margin-right: 5px;
}

.ke-menuitem a {
	color: #444;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

.ke-menuitem-active, .ke-menuitem-active:hover {
	background-color: #EEB;
}

/***** Tables *****/

table.table-decorated {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table.table-decorated th {
	font-weight: bold;
	color: #444;
}

table.table-decorated th, table.table-decorated td {
	padding: 2px;
	text-align: center;
}

table.table-decorated th:first-of-type,  table.table-decorated td:first-of-type {
	text-align: left;
}

table.table-vertical thead tr {
	border-bottom: 2px solid #858580;
}

table.table-vertical tbody tr {
	border-top: 1px solid #AAA;
}

table.table-vertical tbody tr:first-of-type {
	border-top: 0;
}

table.table-vertical tbody tr:nth-child(odd) {
	background-color: #F7F7F7;
}

/***** Other *****/

.small {
	font-size: 0.8em;
}

.metadata {
	border-bottom: 1px lightgrey solid;
}

.metadata-id {
}

.metadata-name {
}

.metadata-description {
	font-size: 12px;
	color: #333333;
}

.alternate-shading-odd {
	background-color: #eeeeee
}

.alternate-shading-even {
}

.search-results-header {
	font-size: 0.8em;
	color: #888888;
}

ul.one-line {
    display: inline;
    list-style-type: none;
    padding-top: 0px;
    padding-right: 20px;
}

#loading-dialog-overlay {
	position: fixed;
	opacity: 0.5;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 2001;
	top: 0;
	left: 0;
}

#loading-dialog-message {
	position: fixed;
	z-index: 2002;
	border: 1px black solid;
	background-color: white;
	top: 40%;
	left: 30%;
	right: 30%;
	padding: 2em;
	font-weight: bold;
	text-align: center;
}

#loading-dialog-message img {
	display: block;
	position: relative;
	left: 48%;
	padding-bottom: 0.5em;
}